{% extends "site.html" %}

{% block title %}Sign Up{% endblock %}

{% block cover_image %}
    <div class = "cover">
        <img src="/static/images/family_cycle.jpg" alt="family_cycling" style="height:auto; width:100%; margin-top:2%;">
    </div>
{% endblock %}

{% block flash %}
<div class="row">
<div class="mx-auto col-md-6">
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="alert alert-danger pt-4">
        <ul>
            {%- for msg in errors %}
            <li>{{ msg }}</li>
            {% endfor %}
        </ul>
        </div>
        {% endif %}
    {% endwith %}
</div>
</div>
{% endblock %}

{% block body %}
<div class="container" style="padding: 2%">
    <h2>Create an account<br/></h2>
    <div class="row">
        <div class="mt-3 pt-2 card mx-auto col-md-6">
            <form method="POST">
            {{form.hidden_tag()}}
                <div class="form-group">
                    {{form.email.label}}{{form.email(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.username.label}}{{form.username(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.password.label}}{{form.password(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.c_password.label}}{{form.c_password(class="form-control")}}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6" style="margin:auto; padding:1%; width:97%">
                            {{form.submit(class="btn btn-outline-info btn-block")}}
                        </div>
                        <div class="col-md-6" style="margin:auto; padding:1%; width:97%" >
                            <a class="btn btn-outline-info btn-block" href="{{url_for('bicycles.index')}}">Back</a>
                         </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}