{% extends "site.html" %}

<link
    href="{{ url_for('static', filename='styles/vendor/bokeh-1.0.4.min.css') }}"
    rel="stylesheet" type="text/css">
<link
    href="{{ url_for('static', filename='styles/vendor/bokeh-widgets-1.0.4.min.css') }}"
    rel="stylesheet" type="text/css">

{% block title %} Weekly Income {% endblock %}

{% block cover_image %}
    <div class = "cover">
        <img src="/static/images/family_cycle.jpg" alt="family_cycling" style="height:auto; width:100%; margin-top:2%;">
    </div>
{% endblock %}

{% block body %}

<div class="container" style = "margin-top: 5%; margin-bottom: 15%">
    <h2>Weekly Income per Location</h2>

    <form method = "POST">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{ form.week.label }}{{ form.week(class="form-control") }}
        </div>

        {{ form.csrf_token}}
        <div class="form-group">
          <span class="col-md-6">{{form.submit(class="btn btn-outline-info btn-block")}}</span>
        </div>
    </form>

    {% if div != None and script != None %}
    <p>
      {{ div|safe}}
      {{ script|safe }}
    </p>
    {% endif %}
</div>

<script src="{{ url_for('static', filename='scripts/vendor/bokeh-1.0.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vendor/bokeh-widgets-1.0.4.min.js') }}"></script>

{% endblock %}
