<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block map %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/vendor/bootstrap.min.css') }}">

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/vendor/font-awesome.min.css') }}">

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>

</head>
<body>
    {% block header %} {% endblock %}
    {% block cover_image %} {% endblock %}
    <div class="container pt-2">
        {% block flash %} {% endblock %}

        {% block breadcrumb %} {% endblock %}

        {% block body %} {% endblock %}

    </div>

    {% block footer %} {% endblock %}
    <script
        src="{{ url_for('static', filename='scripts/vendor/bootstrap.min.js') }}">
    </script>
</body>
</html>
